@font-face {
  font-family: Lato;
  src: url(./assets/Lato/Lato-Regular.ttf);
}

* {
  margin: 0;
  width: 100%vw;
  height: 100%vh;
  font-family: Lato;
}

nav {
  display: grid;
  grid-template-columns: 55% 45%;
  margin-top: 2%;
  margin-bottom: 2px;
  width: 100%;
  height: 50px;
}

body {
  background-image: url(./img/6726661-min.jpg);
  background-repeat: no-repeat;
  opacity: 0.9;
}

img {
  width: 1.3rem;
  height: 1.3rem;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline;
}

li:first-child {
  float: left;
  color: bisque;
}

.linkedin:hover,
.website:hover,
.github:hover {
  width: 2rem;
  height: 2rem;
}

h2,
ul {
  color: white;
}

h3 {
  color: rgb(255, 255, 255, 0.6);
}

.about,
.contact,
.greet {
  font-size: 1.2rem;
  color: rgb(109, 109, 243);
}
.contact,
.about {
  padding-left: 5px;
}
.name {
  font-size: 2.8rem;
  color: rgb(109, 109, 243);
}

#homescreen {
  margin-top: 5%;
  margin-left: 10%;
}

.homescreen_description {
  font-size: 2rem;
  margin-top: 5%;
}

ul * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.9em;
  padding: 0;
}

.about_effect,
.contact_effect {
  padding: 0.4em 0.7em;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.about_effect::before,
.contact_effect::before,
.about_effect::after,
.contact_effect::after {
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.about_effect::before,
.contact_effect::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #17514f;
  border-right: 3px solid #17518f;
  transform: translate(-100%, 50%);
}

.about_effect::after,
.contact_effect::after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #17514f;
  border-left: 3px solid #17518f;
  transform: translate(100%, -50%);
}

.about_effect:hover:before,
.about_effect:hover:after,
.contact_effect:hover:before,
.contact_effect:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.about_effect:hover,
.contact_effect:hover {
  color: rgb(213, 213, 246);
}

main {
  overflow: hidden;
  position: relative;
}


